
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {

    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;

}

body{
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8,#073e72d8);
    display:flex;
    align-items:center;
    justify-content: center;
}
/* div do relogio onde vao os tres quadradinhos da hora, minuto e segundo*/
.relogio {
    display:flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius:3px;
    box-shadow: 0px 8px 10px rgba(0, 0,0,  .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color:#fff;
    background-color: rgba(10, 9, 9, 0.5);
    box-shadow: 5px 5px 15px rgba(0, 0,0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}


.relogio span{
    font-weight: bolder;
    font-size:60px;
}

.relogio span.tempo{
    font-size:10px;
}